#codeigniter 3
**/cache/*
!**/cache/index.html
!**/cache/.htaccess

**/logs/*
!**/logs/index.html
!**/logs/.htaccess

**/vendor/
**/sessions/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### IDE Files ###
/nbproject/
.idea/*
.DS_Store
Thumbs.db

### SublimeText ###
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
