.idea
.vscode
.DS_Store
Thumbs.db

**/cache/*
!**/cache/index.html
!**/cache/.htaccess

**/config/**/
!**/config/development/
!**/config/production/
!**/config/testing/
!**/config/user-testing/

**/logs/*
!**/logs/index.html
!**/logs/.htaccess

**/vendor/
**/sessions/
