# vscod
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/index.html

# codeigniter 3
**/cache/*
!**/cache/index.html
!**/cache/.htaccess

**/logs/*
!**/logs/index.html
!**/logs/.htaccess

**/vendor/
**/sessions/

**/composer.lock
tests/mocks/database/ci_test.sqlite

# IDE Files
#-------------------------
/nbproject/
.idea/*
.DS_Store
Thumbs.db

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
