
 <IfModule mod_rewrite.c>

# Enforce SSL https://www. 
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteEngine on
 #   RewriteBase /DESARROLLO_WEB/COLOMBIA/EOL/DESARROLLO/
	RewriteCond $1 !^(personas|index.php|cdn|base|info\.php|robots\.txt)
	RewriteRule ^(.*)$ /personas/index.php/$1 [L]
</IfModule>
